:root {
    --rose-800: hsl(332, 51%, 32%);
    --rose-500: hsl(330, 100%, 98%);
    --stone-900: hsl(24, 5%, 18%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-100: hsl(30, 54%, 90%);
    --brown-800: hsl(14, 45%, 36%);
    --white: hsl(0, 0%, 100%);

    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-1600: 128px;

    --font-young-serif-regular: 40px/1 "Young Serif", serif;
    --font-young-serif-small: 28px/1 "Young Serif", serif;
    --font-outfit-semibold: bold 20px/1 "Outfit", sans-serif;
    --font-outfit-regular: 16px/1.5 "Outfit", sans-serif;
    --font-outfit-bold: bold 16px/1.5 "Outfit", sans-serif;
}

main {
    min-width: 375px;
    max-width: 616px;
    background-color: var(--white);
    border-radius: var(--spacing-300);
}

.recipe {
    display: flex;
    flex-direction: column;
}

.recipe__image {
    width: 100%;
    height: auto;
}

.recipe__image img {
    max-width: 100%;
}

.recipe__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    padding: var(--spacing-500) var(--spacing-400);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.preparation {
    background-color: var(--rose-500);
    border-radius: var(--spacing-150);
    padding: var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.divider {
    border: 0.5px solid var(--stone-150);
    margin: 0;
}

h1 {
    font: 36px/1 "Young Serif", serif;
    color: var(--stone-900);
    margin: 0;
}

@media (min-width: 768px) {
    body {
        color: var(--stone-600);
        background-color: var(--stone-100);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        padding: var(--spacing-1600) var(--spacing-600);
    }

    .recipe {
        padding: var(--spacing-500);
        /*width: 100%;*/
        gap: var(--spacing-500);
    }
    .recipe__image img {
        border-radius: var(--spacing-150);
    }
    .recipe__content {
        padding: 0;
    }

    h1 {
        font: var(--font-young-serif-regular);
    }
}

@media (min-width: 1200px) {
    body {
        padding: var(--spacing-1600) 0;
    }

    main {
        max-width: 736px;
    }
}

h2 {
    font: var(--font-young-serif-small);
    letter-spacing: 0;
    color: var(--brown-800);
    margin: 0;
}

h4 {
    font: var(--font-outfit-semibold);
    letter-spacing: 0;
    color: var(--rose-800);
    margin: 0;
}

.regular-text {
    font: var(--font-outfit-regular);
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.regular-text ul, .regular-text ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

li {
    padding-left: var(--spacing-500);
    position: relative;
}

li::before {
    width: 16px;
    color: var(--brown-800);
    position: absolute;
    left: var(--spacing-100);
}

ul li::before {
    content: "•";
}

ol {
    counter-reset: li;
}

ol li {
    counter-increment: li;
}

ol li::before {
    content: counter(li) ". ";
    font-weight: bold;
}

.preparation li::before {
    color: var(--rose-800);
}

.regular-bold {
    font: var(--font-outfit-bold);
    letter-spacing: 0;
}

.macros__table {
    display: grid;
    gap: var(--spacing-100);
    padding: 0 var(--spacing-400);
}

.macros__table .divider {
    margin: 0 -32px;
}

.macros__record {
    padding-right: var(--spacing-100);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
}

.macros__record div {
    width: 50%;
    flex-grow: 1;
}

.regular-bold-red {
    color: var(--brown-800);
    font: var(--font-outfit-bold);
    letter-spacing: 0;
}